.DS_Store
.gradle
.settings
.idea
*.iml
build
obj
@*xpi

# Never commit the offlinegeo.js file
libraries/marisa/addon/lib/offlinegeo.js

# Ignore local build properties
local.properties

# Ignore bintray password file
bintray.properties

# ignore vim swap files
*.sw?

# JAR releases
android/libs/*.jar

# Ignore libraries built from C source
app/src/main/libs

# Ignore marisa libs
libraries/marisa/src/main/libs

# ctags
tags

# Ignore final release APK builds
outputs/*
