.DS_Store
.gradle
.settings
.idea
*.iml
build
obj

# ignore vim swap files
*.sw?

# JAR releases
android/libs/*.jar

# Ignore libraries built from C source
app/src/main/libs

# ctags
tags

# Ignore final release APK builds
outputs/*
