.DS_Store
.gradle
.settings
.idea
*.iml
assets
bin
lib
build
obj
local.properties
gradle.properties
bintray.properties

# ignore vim swap files
*.sw?

# JAR releases
android/libs/*.jar

# Ignore libraries
libs

# ctags
tags


# Ignore final release APK builds
outputs/*
